<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "log4j.dtd" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="false" />
		<param name="BufferedIO" value="false" />
		<param name="ImmediateFlush" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="1000" />
		<param name="File" value="D:/appZen/main.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>


	<logger name="com.appzen">
		<level value="DEBUG" />
	</logger>

	<logger
		name="org.springframework.web.context.request.RequestContextListener">
		<level value="OFF" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>
