<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/seleniumkeyword1" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="naresh" />
	</beans:bean>

	<!-- Common data access objects -->
	<beans:bean id="testCaseDao" class="com.selenium.dao.TestCaseDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>

	<beans:bean id="testCaseStepDao" class="com.selenium.dao.TestCaseStepDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="testRunResultDao" class="com.selenium.dao.TestRunResultDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="testCaseResultDao" class="com.selenium.dao.TestCaseResultDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="testStepResultDao" class="com.selenium.dao.TestStepResultDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="utilDao" class="com.selenium.dao.UtilDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="keywordExecuterDao" class="com.selenium.dao.KeywordExecuterDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="propertySetDao" class="com.selenium.dao.PropertySetDao">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<beans:property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<beans:property name="prefix" value="/WEB-INF/jsp/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>

<annotation-driven />

	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:ref bean="jsonMessageConverter"/>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="seleniumSql"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basenames">
			<beans:list>
				<beans:value>selenium-sql</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basenames">
			<beans:list>
				<beans:value>classpath:selenium-labels</beans:value>
				<beans:value>classpath:selenium-errors</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<beans:bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	</beans:bean>

<context:component-scan base-package="com.selenium.util" />
<context:component-scan base-package="com.selenium.controller" />
<context:component-scan base-package="com.selenium.dao" />
<context:component-scan base-package="com.selenium.validator" />
</beans:beans>